@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-200 font-mono accent-violet-800 dark:bg-neutral-800 lg:dark:bg-gray-500;
  }
  h1 {
    @apply text-xl font-bold text-gray-800 lg:text-2xl;
  }

  #__next {
    @apply flex h-screen flex-col;
  }
}

@layer utilities {
  .text-accentColor {
    @apply text-violet-600;
  }

  .custom-prose {
    @apply prose prose-sm dark:prose-invert lg:prose-base;
  }
}

/* snowfall: http://pajasevi.github.io/CSSnowflakes/ */
@keyframes snowflakes-fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}
@keyframes snowflakes-shake {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(80px);
  }
}

.snowflake {
  position: fixed;
  top: -10%;
  user-select: none;
  pointer-events: none;
  animation-name: snowflakes-fall, snowflakes-shake;
  animation-duration: 10s, 3s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-play-state: running, running;
}
.snowflake img {
  width: 36px;
  height: 36px;
}

article .invisible {
  display: inline-block;
  font-size: 0;
  height: 0;
  line-height: 0;
  position: absolute;
  width: 0;
}
